.home h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5rem;
}

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid gray;
}

.post h2::first-letter {
    text-transform: uppercase;
}

.btn {
    background-color: black;
    color: white;
    border: 0.1px solid white;
    opacity: 2;
    padding: 0.5rem 1rem;
    border-bottom: 20rem;
    border-radius: 1rem;
    max-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    color: green;
    background-color: white;
}