    /* MyStyles.css */
    .items {
        display: flex;
        border: 1px solid black;
        background-color: #E9BD86;
    }

    .btn-delete {
        margin-left: 0 auto;
    }

    .btn-edit {
        margin-left: 18.3rem;
    }

    .btn-delete:hover {
        background-color: red;
    }

    .btn-edit:hover {
        background-color: blueviolet;
    }