.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navbar h2 a {
    opacity: 1;
}

.navbar ul {
    display: flex;
    gap: 2rem;
}

.new-btn {
    font-weight: bold;
    border: solid 1px yellow;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    opacity: 1;
}

.new-home {
    font-weight: bold;
    border: solid 1px yellow;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    opacity: 1;
}