* {
    margin: 0;
    padding: 0;
    font-family: "Blinker";
}

body {
    background-color: black;
    color: blue
}

ul {
    list-style: none;

}

a:hover {
    text-decoration: none;
    color: yellow;
    opacity: 0.7;

}